html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #525252;
}

a {
  text-decoration: none;
  color: #cb3837;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.container {
  text-align: center;
  padding: 10px;
}

.register{
  width: 80%;
  display: flex;
}

.record {
  width: 100%;
  border: 1px solid #000000;
  text-align: left;
}

.record #date{
  width: 15%; display: inline-block;
}

.record #payee_category_memo{
  width: 70%;
  display: inline-block;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.record #category_memo{
  border-top: 1px solid #000000;
}

.record #category_memo #category{
  display: inline-block;
  border-right: 1px solid #000000;
  width: 50%
}

.record #category_memo #memo{
  display: inline-block;
  width: 48%;
}

.record #amount{
  display: inline-block;
  width: 10%;
}

.record.header {
  font-weight: bold;
}

.record.input input {
  /*color: rgb(185, 178, 178);
  font-style: italic;*/
  outline: none;
  box-shadow: none;
  width: 99%;
}

.record.input #amount{
  width: 12%;
}

.record.input #txt_amount{
  width: 30%;
}

#map_import{
  display: none;
  position:fixed;
  top: 50%;
  left: 50%;
  width:50em;
  height:30em;
  margin-top: -15em; /*set to a negative number 1/2 of your height*/
  margin-left: -25em; /*set to a negative number 1/2 of your width*/
  border: 1px solid #ccc;
  background-color: #f3f3f3;
}

#mappingButtons{
  position:absolute;
  bottom:0;
  right:0;
}


#transactionMapping{
  overflow:scroll;
  height: 25em;
}

#transactionMapping .mappingHeader div{
  display: inline-block;
}

#transactionMapping .mapping div{
  display: inline-block;
}


#transactionMapping .mapping .sourcePayee{
  width: 50%;
}

#transactionMapping .mapping .targetPayee{
  width: 30%;
}

#transactionMapping .mapping .newPayee{
  width: 15%;
}

#ofx_transactions{
  display: none;
}

